header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 50;
  .header__body {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__burger {
      display: none;
    }
    .header__menu {
      .header__list {
        display: flex;
        position: relative;
        z-index: 2;
        li {
          margin-left: 40px;

          a {
            color: rgb(88, 88, 88);
            text-transform: uppercase;
            font-size: 14px;
            ::before {
              content: "";
              position: absolute;
              height: 2px;
              width: 10px;
              background: rgb(88, 88, 88);
              top: 48%;
              left: 0;
            }
          }

          form {
            input {
              display: none;
            }
            button {
              border: none;
              background: none;
            }
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      .header__body {
        height: 50px;
      }
      .header__burger {
        display: block;
        position: relative;
        min-width: 24px;
        height: 20px;
        position: relative;
        z-index: 3;
        span {
          position: absolute;
          background: rgb(88, 88, 88);
          width: 100%;
          height: 2px;
          left: 0;
          top: 45%;
        }
      }
      .header__burger::before,
      .header__burger::after {
        content: "";
        position: absolute;
        background: rgb(88, 88, 88);
        width: 100%;
        height: 2px;
        left: 0;
      }
      .header__burger::before {
        top: 0;
        transition: 0.3s;
      }
      .header__burger::after {
        bottom: 0;
        transition: 0.3s;
      }
      span.active {
        display: none;
      }
      .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      .header__menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(100, 100, 100);
        padding-top: 80px;

        .header__list {
          display: block;

          li {
            margin: 0 0 10px 20px;
            a.active {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 2;
}
