.pics {
    column-count: 3;
    column-gap: 2em;
    .pic {
      width: 100%;
      margin-bottom: 30px;
      max-width: 360px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

}


.pic_240 {
  height: 240px;
}
.pic_350 {
  height: 350px;
}
.pic_450 {
  height: 450px;
}
