.pics {
  display: flex;
  .pics__column {
    width: 360px;
    height: 1880px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    .pic {
      width: 100%;
      margin-bottom: 20px;
      max-width: 360px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.pic_240 {
  height: 240px;
}
.pic_350 {
  height: 350px;
}
.pic_450 {
  height: 450px;
}
