*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(88, 88, 88);
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  //   padding: 0 15px;
}
.logo {
  max-width: 90px;
  min-height: 25px;
  img {
    width: 100%;
    height: 100%;
  }
}

header {
  background: #fff;
  padding: 10px 120px 5px 120px;
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-top: 10px;
        &:not(:last-child) {
          margin-right: 30px;
        }
        a {
          color: rgb(88, 88, 88);
          text-transform: uppercase;
          font-weight: 700;
          font-size: 10px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px 0;
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .social {
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    color: rgb(190, 190, 190);
    ul {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      li:not(:last-child) {
        margin-right: 50px;
        i {
          font-size: 10px;
        }
      }
    }

    .lastText {
      margin-top: 30px;
      font-weight: 300;
      font-size: 10px;
      p {
        text-transform: uppercase;
        color: rgb(180, 180, 180);
        span {
          color: #000;
        }
      }
    }
  }
}

// .slides {
//   position: relative;
//   height: 100vh;
//   width: 100%;
//   .owl-stage {
//     height: 100%;
//     div{
//       width: 100%;
//       img{
//         object-fit: cover;
//       }
//     }
//   }
// }
