*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  max-width: 90px;
  min-height: 24px;
}

.logo img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0;
}

footer .logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

footer .logo img {
  padding-bottom: 30px;
}

footer .social {
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  color: #bebebe;
}

footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer .social ul li:not(:last-child) {
  margin-right: 50px;
}

footer .social ul li:not(:last-child) i {
  font-size: 10px;
}

footer .social .lastText {
  margin-top: 30px;
  font-weight: 300;
  font-size: 10px;
}

footer .social .lastText p {
  text-transform: uppercase;
  color: #b4b4b4;
}

footer .social .lastText p span {
  color: #000;
}

header {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

header .container {
  z-index: 11;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .hamburger-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 30%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

header .container .hamburger-menu #menu__toggle {
  display: none;
}

header .container .hamburger-menu .menu__btn {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  padding: 2px;
  margin: 0;
}

header .container .hamburger-menu .menu__btn span {
  position: absolute;
  top: 45%;
  content: "";
  width: 85%;
  height: 2px;
  background: #000;
  transition: 0.3s;
}

header .container .hamburger-menu .menu__btn::before {
  content: "";
  bottom: 6px;
  position: absolute;
  width: 85%;
  height: 2px;
  background: #000;
  transition: 0.3s;
}

header .container .hamburger-menu .menu__btn::after {
  content: "";
  top: 6px;
  position: absolute;
  width: 85%;
  height: 2px;
  background: #000;
  transition: 0.3s;
}

header .container .hamburger-menu .lock span {
  display: none;
}

header .container .hamburger-menu .lock::before {
  transform: rotate(45deg);
  bottom: 17px;
}

header .container .hamburger-menu .lock::after {
  transform: rotate(-45deg);
  top: 11px;
}

@media screen and (max-width: 750px) {
  header .container .hamburger-menu {
    opacity: 1;
  }
}

header .container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .header__nav .menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

header .container .header__nav .menu__box li:not(:last-child) {
  margin-right: 40px;
}

header .container .header__nav .menu__box li a {
  text-decoration: none;
  color: #585858;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  position: relative;
  transition: 0.2s;
}

header .container .header__nav .menu__box li a::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
  top: 42%;
  left: -27px;
  opacity: 0;
}

header .container .header__nav .menu__box li a:hover {
  font-weight: bolder;
  font-size: 12px;
  color: #000000;
}

header .container .header__nav .menu__box li a:hover::after {
  opacity: 1;
}

header .container .header__nav form {
  margin-left: 40px;
}

header .container .header__nav form input {
  display: none;
  margin-right: 10px;
  border: 2px solid rgba(175, 172, 172, 0.103);
}

header .container .header__nav form button {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}

header .container .header__nav form .active {
  display: inline;
}

@media screen and (max-width: 750px) {
  header .container .block_menu {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  header .container {
    max-width: 500px;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 200px;
  }
  header .container .header__nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    width: 90px;
    background: #000;
  }
  header .container .header__nav .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  header .container .header__nav .menu__box li:not(:last-child) {
    margin-right: 0;
  }
}

.slider {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.slider .swiper-container {
  height: 100%;
  position: relative;
  color: #fff;
}

.slider .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .swiper-container .swiper-slide .slider-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.slider .swiper-container .swiper-slide .slider-text h2 {
  background: #000;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 300;
  padding: 0 30px 0 30px;
}

.slider .swiper-container .swiper-slide .slider-text p {
  margin-top: 30px;
  color: #000;
  font-size: 18px;
  letter-spacing: 7px;
}

.slider .swiper-container .slide-number-1 {
  background: url("/img/home/slides_bg.png");
  background-size: cover;
}

.slider .swiper-container .slide-number-2 {
  background: url("/img/home/slide-bg_2.png");
  background-size: cover;
}

.slider .swiper-container .swiper-button-next,
.slider .swiper-container .swiper-button-prev {
  position: absolute;
  top: 48%;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
}

.slider .swiper-container .swiper-button-next::after,
.slider .swiper-container .swiper-button-prev::after {
  font-size: 25px;
  color: #fff;
  font-weight: lighter;
}

.slider .swiper-container .swiper-button-next:hover,
.slider .swiper-container .swiper-button-prev:hover {
  background: #000;
  border: hidden;
}

.slider .swiper-container .swiper-button-next {
  left: 90%;
}

.slider .swiper-container .swiper-button-prev {
  left: 10%;
}

.slider .swiper-container .swiper-pagination {
  padding-bottom: 40px;
}

.slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: #fff;
  margin: 0 6px;
}

.slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  border: 4px solid #000;
}

.wrap {
  padding: 40px 100px 40px 100px;
}

.formSection {
  background: gainsboro;
  height: 80vh;
  padding: 40px 250px 40px 250px;
}

.formSection .form {
  margin-top: 40px;
  align-items: center;
  text-align: center;
  position: relative;
}

.formSection .form .form__inputs {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.formSection .form .form__inputs .form__input {
  display: block;
}

.formSection .form .form__inputs .form__input input {
  width: 270px;
  padding: 5px;
}

.formSection .form .form__inputs .form__input .help {
  display: block;
  visibility: hidden;
  padding: 0;
  margin: 0;
  color: #f22a2a;
  font-weight: 500;
}

.formSection .form .form__inputs .form__input .show {
  visibility: visible;
}

.formSection .form #comment {
  width: 100%;
  height: 100px;
  padding: 5px;
}

.formSection .form #submitBtm {
  width: 250px;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.formSection .active {
  display: block;
}

.formSection .no_active {
  display: none;
}

.formSection .modal__form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.formSection .modal__form .modal__formItems {
  background: rgba(255, 255, 255, 0.548);
  margin: 50vh 250px;
}

.formSection .modal__form .modal__formItems .modal__formItem {
  padding: 15px;
  color: #000;
  font-weight: 500;
}

.formSection .modal__form .modal__form {
  display: block;
  margin: 0;
}

.content {
  background: gainsboro;
}

.home__content {
  padding-top: 30px;
  padding-bottom: 50px;
  background: rgba(248, 248, 248, 0.795);
  border-bottom: 5px solid #cecece25;
}

.home__content .container {
  display: block;
}

.home__content .container .home__content_nav {
  margin: 0 0 30px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.home__content .container .home__content_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  padding: 0 auto;
}

.home__content .container .home__content_nav ul li {
  align-items: center;
}

.home__content .container .home__content_nav ul li a {
  padding: 0 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 1px;
  color: #777777;
  position: relative;
}

.home__content .container .home__content_nav ul li a::after {
  margin-left: 20px;
  position: absolute;
  content: "";
  width: 1px;
  height: 29px;
  background-color: #d7d7d7;
  transform: rotate(15deg);
}

.home__content .container .home__content_nav ul li a:hover {
  text-decoration: none;
  color: #000;
}

.pics {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.pics .pic {
  width: 100%;
  margin-bottom: 30px;
  max-width: 360px;
  overflow: hidden;
  position: relative;
}

.pics .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pics .pic .pic__hover {
  position: absolute;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #00000071;
  margin: 0 auto;
}

.pics .pic .pic__hover::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  background: #e1e1e1;
  top: 45%;
  left: 50%;
}

.pics .pic .pic__hover::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  background: #e1e1e1;
  top: 45%;
  left: 50%;
  transform: rotate(90deg);
}

.pics .pic .pic__hover:hover {
  opacity: 1;
}

.pic_240 {
  height: 240px;
}

.pic_350 {
  height: 350px;
}

.pic_450 {
  height: 450px;
}

.load__more_pics {
  margin: 40px 0 0 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load__more_pics a {
  text-decoration: none;
  color: #ffffff;
  background: #868686;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 30px 7px 30px;
  border-radius: 2px;
  letter-spacing: 1px;
}
